{% if product.metafields.custom.size_chart.value.size_chart.value  %}
       <style>
  
  .desk-hide {
    display:none;
  }
         tool-tip[data-tool-tip-open=true] .tool-tip__inner {
    padding: 0px!important;
}

  .size-main img{
    object-fit: contain!important;
    aspect-ratio: auto!important;
    height: auto;
}      
  @media screen and (max-width: 724px) {
  .mobile-hide {
    display:none;
  }
    .desk-hide {
    display:inline-flex!important;
  }
    tool-tip[data-tool-tip-open=true] .tool-tip__inner {
    padding: 0px!important;
}
}
</style>

  <tool-tip-trigger class="tool-tip-trigger" data-tool-tip="{{ context }}">
    <div class="tool-tip-trigger__title">{{ title }}</div>
    <span
      class="tool-tip-trigger__content"
      data-tool-tip-content=""
    >


           <div class="size-main flex column" style="flex-wrap: wrap;margin: 15px;display: flex; flex-direction: column;">
               <div class="h2" style="align-self: flex-center;margin: 0 auto !important; ">{{ product.metafields.custom.size_chart.value.name.value }}</div>
                <div class="mobile-hide">
          
               {{ product.metafields.custom.size_chart.value.size_chart.value | image_url: width: '1500' | image_tag:
                  class: 'size_chart inline-block',
                  alt: logo_alt
                }}    
               </div>
  
               <div class="desk-hide">
          
               {{ product.metafields.custom.size_chart.value.size_chart_mobile.value | image_url: width: '700' | image_tag:
                  class: 'size_chart inline-block',
                  alt: logo_alt
                }}    
               </div>
           </div>


      
    </span>
  </tool-tip-trigger>
{% endif %}
