{%- assign swatch_file_extension = 'png' -%}
{% assign packNum = "" %}
{%- capture size_chart_title -%}
  {{ 'products.general.size_chart' | t }} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-size-chart" viewBox="0 0 64 64"><path d="M22.39 33.53c-7.46 0-13.5-3.9-13.5-8.72s6-8.72 13.5-8.72 13.5 3.9 13.5 8.72a12 12 0 0 1-.22 1.73"/><ellipse cx="22.39" cy="24.81" rx="3.28" ry="2.12"/><path d="M8.89 24.81V38.5c0 7.9 6.4 9.41 14.3 9.41h31.92V33.53H22.39m24.39 0v7.44m-8.13-7.44v7.44m-8.13-7.44v7.44m-8.13-7.44v7.44"/></svg>
{%- endcapture -%}

{%- liquid
  assign is_size = false
  assign size_trigger = 'products.general.size_trigger' | t | downcase
  assign downcased_option = option.name | downcase

  if downcased_option contains size_trigger
    assign is_size = true
  endif
-%}
{% if template.suffix == 'bundle' %}
<style>
@media only screen and (max-width:768px){
  .bundle-custom .label {
  flex-direction: column!important;
}

   .bundle-custom .label .line-item-property__field{
     width: 100%!important;
  }
}
  
</style>
  {% endif %}
<div class="variant-wrapper js optoin-{{ option.name }}" data-type="button">
  <label class="variant__label{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}{% unless variant_labels %} hidden-label{% endunless %} optoin-{{ option.name }}"
    for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    {{ option.name }}
    {%- if connect_to_sizechart and is_size -%}
      <span class="variant__label-info">
        &mdash;
        {%- render
          'tool-tip-trigger-sizechart',
          title: size_chart_title,
          content: section.blocks[sizechart_index].settings.size_chart.content,
          context: 'size-chart',
          product: product
        -%}
      </span>
    {%- endif -%}
    {%- if is_color -%}
      <span class="variant__label-info">
        &mdash;
        <span
          data-variant-color-label
          data-index="{{ forloop.index0 }}"
          data-option-index="{{ color_option_index }}">
          {{ option.selected_value }}
        </span>
      </span>
    {%- endif -%}
  </label>
  {%- assign option_index = forloop.index -%}
  <fieldset class="variant-input-wrap no-auto-select"
    name="{{ option.name }}"
    data-index="option{{ option_index }}"
    data-handle="{{ option.name | handleize }}"
    id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    <legend class="hide">{{ option.name }}</legend>
    {%- for value in option.values -%}
      {%- liquid
        assign product_available = true
        if product.options.size == 1
          assign product_available = product.variants[forloop.index0].available
        endif
      -%}
      <div
        class="variant-input"
        data-index="option{{ option_index }}"
        data-value="{{ value | escape }}">
        <input type="radio"
          form="{{ form_id }}"
          {% if option.selected_value == value %} checked="checked"{% endif %}
          value="{{ value | escape }}"
          data-index="option{{ option_index }}"
          name="{{ option.name }}"
          data-variant-input
          data-option-name="{{ option.name }}"
          value="{{ value | escape }}" 
          {% if value contains "Pack" %}data-qty="{{ value | replace: "Pack of ", "" }}"{% endif %} 
          class="{% unless product_available %} disabled{% endunless %}{% if is_color %} variant__input--color-swatch{% endif %}"
          {% if is_color %} data-color-name="{{ value | escape }}"{% endif %}
          {% if is_color %} data-color-index="{{ color_option_index }}"{% endif %}
          id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}">
        {%- if is_color -%}
          {%- liquid
            assign color_file_name = value | handle | append: '.' | append: swatch_file_extension
            assign color_image = color_file_name | file_img_url: '50x50' | prepend: 'https:' | split: '?' | first
            assign color_swatch_fallback = value | split: ' ' | last | handle
          -%}
          <label
            for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
            class="variant__button-label color-swatch color-swatch--{{ value | handle }}{% unless product_available %} disabled{% endunless %}"
            style="background-color: {{ color_swatch_fallback }};{% if images[color_file_name] != blank %}  background-image: url({{ color_image }});{% endif %}"
          >
            {{ value | escape }}
          </label>
          {% if value contains "Pack" %}
                    {% assign packNum = value | replace: "Pack of ", "" %}           
                  {% endif %}
        {%- else -%}
          <label
            for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
            class="variant__button-label{% unless product_available %} disabled{% endunless %}">{{ value | escape }}</label>
        {% if value contains "Pack" %}
                    {% assign packNum = value | replace: "Pack of ", "" %}           
                  {% endif %}
        {%- endif -%}
        <span class="soldout-warning">
          Sold Out
        </span>
      </div>
    {%- endfor -%}
  </fieldset>
</div>

   <div class="bundle-custom">
   {%- for block in section.blocks -%}
        {%- case block.type -%}

                  {%- when 'table_input' -%}
                              
                             
                                {% assign pack_num = packNum | times: 1 %}
                    
                              {% assign metaobject = product.metafields.custom.design_collection_bundle_direct.value %}
                              
                                                <div class="form-inline" style="margin: 30px 0px 40px 0px;">
                                        
                                                  <div class="label " data-pack-tab="{{ pack_num }}"  style="display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom:25px; gap:15px;flex-flow: wrap;">
                                        
                                                    {% for num in (1..pack_num) %}
                                                      <div id="color-select-{{ num }}" class="color-select-dropdwon line-item-property__field" style="width: 28%;">
                                                          <div id="color-{{ num }}" class="form-group inputs" style="width: -webkit-fill-available;">
                                                              <label class="label" for="pack-color-{{ num }}">Color {{ num }}</label>
                                                              <select class="form-control option-selector block-swatch__item" data-selector-type="dropdown" id="pack-color-{{ num }}" index="{{ num }}" name="properties[Pack-Product-{{ num }}]" form="{{ product_form_id }}">
                                                                  <option value="" selected="selected">PICK ANY</option>
                                                                  {% for product in metaobject.products %}
                                                                    {{ product.id }}
                                                                  <option value="{{ product.metafields.custom.colour | escape  }}-{{ product.id }}"
                                                                    data-handle="{{ product.handle }}"
                                                                    data-id="{{ product.id }}"
                                                                    >{{ product.metafields.custom.colour }}</option>
                                                                  {% endfor %}
                                                              </select>
                                                              
                                                              <!-- Custom Dropdown -->
                                                              <div class="custom-dropdown" >
                                                                  <span class="custom-dropdown-selected">
                                                                      <img src="#" alt="Selected Color" class="selected-image hidden"  class="type_icon inline-block w-8 h-8" height="50px"> <!-- Placeholder for the selected image -->
                                                                      <span class="text-container">PICK ANY</span>
                                                                  </span>
                                                                  <div class="custom-dropdown-list"> 
                                                                      {% for product in metaobject.products %}
                                                                          <div class="custom-dropdown-list-item {% unless product.has_only_default_variant %}{% for option in product.options_with_values %}{% if option.name == 'Size' %}{% for value in option.values %}{% endfor %}{% endif %}{% endfor %}{% endunless %} {% for variant in product.variants %}{{ variant.title | escape | replace: " ", "" }}-{{ variant.inventory_quantity | escape }} {% endfor %}" 
                                                                          data-handle="{{ product.handle }}"
                                                                            data-id="{{ product.id }}"
                                                                            data-prev="{{ product.featured_image | image_url: width: '800' }}"
                                                                        data-value="{{ product.metafields.custom.colour }}-{{ product.id }}">
                                                                              <img src="{{ product.featured_image | image_url: width: '50' }}" alt="{{ product.metafields.custom.colour }}" class="type_icon inline-block w-8 h-8" height="50px">{{ product.metafields.custom.colour | escape }}</div>
                                                                      {% endfor %}
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                    {% endfor %}
                                                              
                                                  </div>
                                                </div>
                    

                    
                    
                                          {%- comment -%}Custom Input{%- endcomment -%}

             {% endcase %}
{% endfor %}
</div>